<!DOCTYPE>
<html>
 {% load static %}


  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Online Pharmacy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/home/index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Shop Medicines</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#"> Online Doctor</a>
            </li>
          </ul>
            <div class="form-inline my-2 my-lg-0">
                <a class="btn btn-warning" href="#"> Login </a>
	     	    <a class= nav-link" href="/clinic/cart">
	    		   <img  id="cart-icon" src="{% static 'img/cart2.png' %}">
                </a>
	    	   <p id="cart-total">0</p>
            </div>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </div>
   </nav>
</html>